@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
/* BARRAS/MENU/FOOTER */
/* ARRANCA MENU */
header {
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  height: 140px;
  background-color: white;
  width: 100%;
  position: fixed;
}

header .logo img {
  height: 5rem;
}

header .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: none;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #1e1f20;
  cursor: crosshair;
}

header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 1rem;
}

header .menu ul li {
  list-style: none;
}

header .menu ul li a {
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.05rem;
  color: #1e1f20;
}

header .menu ul li a:hover {
  -webkit-text-decoration: line-through solid #b06d74 1px;
          text-decoration: line-through solid #b06d74 1px;
}

header .menu ul li .on {
  -webkit-text-decoration: line-through solid #b06d74 1px;
          text-decoration: line-through solid #b06d74 1px;
}

header .page {
  display: none;
}

/* FIN MENU */
/* FOOTER CON REDES */
footer {
  position: fixed;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
  background-color: white;
  width: 100%;
  bottom: 0rem;
}

footer .social {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .social li {
  list-style: none;
}

footer .social li a {
  display: inline-block;
  color: #1e1f20;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .social li a:hover {
  -webkit-transform: scale(0.5) translateY(-15px);
          transform: scale(0.5) translateY(-15px);
  color: #1e1f20;
}

footer .madeby {
  right: 1rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 0.6rem;
}

footer .madeby p {
  padding-top: 1rem;
  letter-spacing: 3px;
}

footer .madeby a {
  text-decoration: none;
  color: #1e1f20;
}

footer .madeby a:hover {
  -webkit-text-decoration: line-through solid #b06d74 1px;
          text-decoration: line-through solid #b06d74 1px;
}

/* FINALIZA FOOTER CON REDES */
/* COMIENZA MENU LATERAL */
.page {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: #1e1f20;
  z-index: 100;
}

.page header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  background: white;
  color: #1e1f20;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 0;
  border: none;
  outline: none;
}

.page #nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}

.page #nav-container .bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #1e1f20;
}

.page #nav-container:focus-within .bg {
  visibility: visible;
  opacity: 0.6;
}

.page #nav-container * {
  visibility: visible;
  border: none;
  outline: none;
}

.page .button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  -webkit-appearance: none;
  border: 0;
  background: white;
  border-radius: 0;
  height: 4rem;
  width: 2rem;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-tap-highlight-color: #1e1f20;
}

.page .icon-bar {
  position: relative;
  top: 0rem;
  left: 0rem;
  display: block;
  width: 100%;
  height: 2px;
  background: #1e1f20;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.page .icon-bar + .icon-bar {
  margin-top: 5px;
}

.page #nav-container:focus-within .button {
  pointer-events: none;
}

.page #nav-container:focus-within .icon-bar:nth-of-type(1) {
  -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
          transform: translate3d(0, 8px, 0) rotate(45deg);
  background-color: #b06d74;
}

.page #nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}

.page #nav-container:focus-within .icon-bar:nth-of-type(3) {
  -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
          transform: translate3d(0, -8px, 0) rotate(-45deg);
  background-color: #b06d74;
}

.page #nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  background: white;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  will-change: transform;
  contain: paint;
}

.page #nav-content ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page #nav-content li a {
  padding: 1rem 1rem;
  display: block;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
}

.page #nav-content li a:hover {
  -webkit-text-decoration: line-through solid #b06d74 1px;
          text-decoration: line-through solid #b06d74 1px;
}

.page #nav-content li .on {
  -webkit-text-decoration: line-through solid #b06d74 1px;
          text-decoration: line-through solid #b06d74 1px;
}

.page #nav-content li:not(.small) + .small {
  margin-top: auto;
}

.page .small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 12px;
  font-weight: 400;
  color: #1e1f20;
  text-transform: uppercase;
}

.page .small img {
  width: 100px;
}

.page .small a {
  font-size: 0.8rem;
  font-weight: 300;
}

.page .small a + a {
  margin-left: 15px;
}

.page #nav-container:focus-within #nav-content {
  -webkit-transform: none;
          transform: none;
}

.page a {
  text-decoration: none;
  outline: 0;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.05rem;
  color: #1e1f20;
}

.page a:visited, .page a:focus, .page a:active, .page a:link {
  text-decoration: none;
  outline: 0;
}

.page ul {
  padding: 0;
  list-style: none;
}

.page img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}

/* FINALIZA MENU LATERAL */
/* BOTON SUBIR */
.ir-arriba {
  display: none;
  padding: 15px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 2rem;
  margin-bottom: 30px;
  border-radius: 150px;
  background: #f5f5f5;
  -webkit-box-shadow: 5px 5px 10px #d0d0d0, -5px -5px 10px #ffffff;
          box-shadow: 5px 5px 10px #d0d0d0, -5px -5px 10px #ffffff;
  z-index: 10000;
}

.ir-arriba:hover {
  border-radius: 150px;
  background: #f5f5f5;
  -webkit-box-shadow: inset 20px 20px 39px #d0d0d0, inset -20px -20px 39px #ffffff;
          box-shadow: inset 20px 20px 39px #d0d0d0, inset -20px -20px 39px #ffffff;
}

/* FIN BOTON SUBIR */
@media (max-width: 768px) {
  .logo,
  .menu {
    display: none;
  }
  header {
    position: relative;
  }
  footer {
    display: none;
  }
  .page {
    display: block;
  }
  header {
    display: none;
  }
}

/* RESETEO DE NAVEGADOR */
/* ELIMINACIÓN DE BARRA DE SCROLL */
::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

/* FINALIZA RESETEO NAVEGADOR */
/* BODY BASE */
body {
  /* MAILCHIMP */
}

body ::-moz-selection {
  background: #e3afb4;
}

body ::selection {
  background: #e3afb4;
}

body #mc_embed_signup {
  clear: left;
  font: 14px "Source Sans Pro", sans-serif;
}

body #mc-embedded-subscribe-form input[type="checkbox"] {
  display: inline;
  width: auto;
  margin-right: 10px;
}

body #mergeRow-gdpr {
  margin-top: 0px;
}

body #mergeRow-gdpr fieldset label {
  font-weight: normal;
}

body #mc-embedded-subscribe-form .mc_fieldset {
  border: none;
  min-height: 0px;
  padding-bottom: 0px;
}

body .mc-field-group {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}

body u {
  -webkit-text-decoration-color: #b06d74;
          text-decoration-color: #b06d74;
}

body .circle {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  margin: 0;
  background: #111;
  border-radius: 80%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

body .texto_base {
  font-family: "Source Sans Pro", sans-serif;
  padding-top: 0.5rem;
  font-weight: 300;
  text-align: justify;
  text-align-last: center;
}

body .texto_titulo {
  font-weight: 300;
  cursor: crosshair;
  text-align: center;
  color: #1e1f20;
}

body .texto_titulo:hover {
  color: #b06d74;
}

body .sepTop {
  padding-top: 11rem;
}

body .sepTop1 {
  padding-top: 1.5rem;
}

body .sepBut {
  padding-bottom: 3rem;
}

body .sepBut1 {
  padding-bottom: 1.5rem;
}

body h1 {
  font-weight: 300;
  text-align: center;
  padding-bottom: 1rem;
}

body h2 {
  font-weight: 200;
  text-align: center;
}

body p {
  text-align: justify;
}

body .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .link a {
  font-size: 1rem;
  text-decoration: none;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color;
          animation-name: color;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

body .link a:hover {
  text-decoration: line-through;
}

@-webkit-keyframes color {
  0% {
    color: #ff9a9e;
  }
  50% {
    color: #fad0c4;
  }
  100% {
    color: #ff9a9e;
  }
}

@keyframes color {
  0% {
    color: #ff9a9e;
  }
  50% {
    color: #fad0c4;
  }
  100% {
    color: #ff9a9e;
  }
}

body .logo-list {
  padding: 20px 0;
  text-align: center;
}

body .logo-list img {
  display: inline-block;
  max-width: 60%;
  padding: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-filter: grayscale(100);
  -moz-filter: grayscale(100);
  filter: grayscale(100);
}

body .logo-list img:hover {
  filter: none;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: none;
  -moz-filter: none;
}

body #globant {
  width: 50%;
}

body .collapse {
  text-align: justify;
  text-align-last: center;
}

/* FIN BODY BASE */
/* IFRAME BLOG Y CV */
iframe.full {
  height: 100vh;
  width: 100vw;
}

/* FIN IFRAME BLOG Y CV */
/* ARRANCA CONTENIDO PRINCIPAL */
.principal img {
  width: 400px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
  opacity: 80%;
}

.principal img:hover {
  -webkit-filter: none;
          filter: none;
  opacity: 80%;
}

.principal .fotoAle {
  padding: 1rem;
  background: -webkit-gradient(linear, right top, left top, from(#ff9a9e), to(#fad0c4));
  background: linear-gradient(to left, #ff9a9e, #fad0c4);
}

.principal .imgS {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin: auto;
  height: 400px;
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
  opacity: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

.principal .imgS:hover {
  -webkit-filter: none;
          filter: none;
  opacity: 80%;
}

.principal a {
  text-align: left;
  font-size: 1rem;
  color: #1e1f20;
  font-weight: 300;
  margin-bottom: 0.1rem;
  text-decoration: none;
}

.principal a:hover {
  color: #b06d74;
}

.principal h5 {
  text-align: right;
  font-size: 0.6rem;
  color: black;
  font-weight: 400;
  margin-bottom: 0.1rem;
}

.principal h4 {
  text-align: right;
  font-size: 0.8rem;
  color: black;
  font-weight: 300;
  margin-bottom: 0.1rem;
}

.principal h3 {
  text-align: right;
  font-size: 1rem;
  font-weight: 600;
  color: black;
  line-height: 1rem;
}

.principal p {
  text-align: justify;
  text-align-last: center;
}

.principal .btn {
  font-weight: 300;
  font-size: 1.05rem;
  color: var(--negro);
}

.principal .btn:focus, .principal .btn:active {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-text-decoration: line-through solid #b06d74 1px;
          text-decoration: line-through solid #b06d74 1px;
}

.principal .btn:hover {
  -webkit-text-decoration: line-through solid #b06d74 1px;
          text-decoration: line-through solid #b06d74 1px;
  color: #b06d74;
}

.principal #invers h5 {
  text-align: left;
}

.principal #invers h4 {
  text-align: left;
}

.principal #invers h3 {
  text-align: left;
}

.principal #landblog h5 {
  text-align: center;
}

.principal #landblog h4 {
  text-align: center;
}

.principal #landblog h3 {
  text-align: center;
}

.landing img {
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
  opacity: 80%;
}

.landing img:hover {
  -webkit-filter: none;
          filter: none;
  opacity: 80%;
}

/* PROGRESS BAR MODIFICACION DE BOOTSTRAP*/
#invers .progress {
  height: 1rem;
  border-radius: 0;
  background: #f1f1f1;
}

#invers .progress-bar {
  background: #1e1f20;
}

/* FIN PROGRESS BAR */
/* FIN CONTENIDO PRINCIPAL */
@media (max-width: 768px) {
  body .sepTop {
    padding-top: 5rem;
  }
  body .sepBut {
    padding-bottom: 1rem;
  }
  #offcanvasRight {
    width: 70%;
  }
  .principal img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-filter: grayscale(100);
            filter: grayscale(100);
    opacity: 80%;
  }
}

button {
  overflow: visible;
  color: #b06d74;
  text-transform: none;
}

select {
  text-transform: none;
}

button,
input,
select,
textarea {
  color: #b06d74;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

form {
  border: none;
  max-width: 780px;
  margin: auto;
  position: auto;
}

h1 {
  color: #1e1f20;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
  text-align: center;
  text-transform: none;
}

.mail {
  float: right;
  width: 45%;
}

.email {
  float: right;
  width: 45%;
}

.nombre {
  float: left;
  width: 45%;
}

.usrName {
  float: right;
  width: 45%;
}

.ubicacion {
  float: left;
  width: 45%;
}

.tel {
  float: right;
  width: 45%;
}

input[type="text"],
[type="tel"],
[type="mail"],
[type="email"],
[type="password"],
[type="radio"],
select,
textarea {
  background: none;
  border: none;
  border-bottom: dashed 1px #1e1f20;
  color: #1e1f20;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  text-transform: none;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

input[type="text"]:focus,
[type="tel"]:focus,
[type="mail"]:focus,
[type="email"]:focus,
[type="password"]:focus,
textarea:focus {
  outline: none;
}

.mensaje {
  float: none;
}

select {
  background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png") no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject,
.telefono {
  width: 100%;
}

.contrasena {
  width: 100%;
}

textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}

#form_button {
  background: white;
  border: dashed 1px #1e1f20;
  color: #1e1f20;
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#form_button:hover {
  background: #1e1f20;
  color: #f2efe9;
}

#submitButton {
  background: white;
  border: dashed 1px #1e1f20;
  color: #1e1f20;
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#submitButton:hover {
  background: #1e1f20;
  color: #f2efe9;
}

.alerta {
  width: 200px;
  text-align: center;
  margin: auto;
  color: #b06d74;
  padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .mail {
    float: none;
    width: 100%;
  }
  .email {
    float: none;
    width: 100%;
  }
  .nombre {
    float: none;
    width: 100%;
  }
  form {
    padding-top: 1rem;
    border: none;
    margin: 2rem;
    position: auto;
  }
  .contacto {
    padding-top: 5rem;
  }
  .contrasena {
    float: none;
    width: 100%;
  }
  .usrName {
    float: none;
    width: 100%;
  }
  .ubicacion {
    float: none;
    width: 100%;
  }
  .tel {
    float: none;
    width: 100%;
  }
}

/* LIGHTBOX */
.lightbox {
  display: none;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background: rgba(255, 255, 255, 0.8);
}

.lightbox:target {
  display: block;
}

.lightbox span {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* FIN LIGHTBOX */
main.inactive {
  pointer-events: none;
}

#logo {
  z-index: 2;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

#logo.inactive {
  opacity: 0;
}

#numbers {
  scroll-margin-top: 1.5rem;
}

#numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

#numbers.loading {
  opacity: 0;
}

.stat {
  width: 100%;
}

.stat:nth-of-type(2) {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 1.5rem 0;
  margin: 1.5rem 0;
}

#progressBar {
  position: relative;
  display: block;
  width: 100%;
  height: 1rem;
  background-color: #e6e6e6;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
}

#progressBar div {
  position: absolute;
  left: 0;
  display: block;
  height: 1rem;
  background-color: #3cb4ac;
  border-radius: 0.5rem;
}

#about {
  margin-bottom: 3rem;
}

#about p {
  margin-bottom: 1rem;
}

#about button {
  padding: 1.25rem 2rem;
}

.option {
  padding: 2rem 1.5rem;
  border: 1px solid #e6e6e6;
  border-radius: 0.5rem;
  margin-top: 2rem;
}

.stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

.option.inactive {
  pointer-events: none;
  opacity: 0.5;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

#overlay {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  z-index: 1;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

#overlay.inactive {
  pointer-events: none;
}

#mobileNav {
  position: absolute;
  top: 8rem;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 5%;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  pointer-events: none;
  -webkit-transition-property: max-height, opacity;
  transition-property: max-height, opacity;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
  z-index: 3;
}

#mobileNav a:nth-of-type(2) {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

#mobileNav.active {
  pointer-events: all;
}

#closeNav {
  position: absolute;
  top: 2px;
  right: 1px;
}

.navToggle {
  opacity: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
  pointer-events: none;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  z-index: 2;
}

.navToggle.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  pointer-events: all;
}

.navToggle.inactive {
  opacity: 1;
  pointer-events: none;
}

#mobileNav a {
  background-color: white;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

#mobileNav a:focus {
  background-color: #f2f2f2;
}

#desktopNav {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

#desktopNav.inactive {
  pointer-events: none;
  opacity: 0;
}

#modal {
  position: fixed;
  top: 20vh;
  left: 5%;
  height: 50vh;
  margin: 0;
  padding: 3rem 1.5rem;
  overflow-y: scroll;
  outline: none;
  border: none;
  -webkit-box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  pointer-events: none;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  z-index: 3;
}

#modal.active {
  background: white;
  border-radius: 1rem;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  pointer-events: all;
}

#modal::-webkit-scrollbar {
  display: none;
}

#closeModal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  scroll-margin-top: 1.5rem;
}

#closeModal:hover {
  cursor: pointer;
}

#closeModal path {
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

#closeModal:hover path {
  opacity: 1;
}

#totalRaised {
  color: #b06d74;
}

input[type="radio"] {
  display: none;
}

.selection {
  scroll-margin-top: 1.5rem;
  padding-bottom: 0.5rem;
  -webkit-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

.selection.active {
  border-color: #b06d74;
}

.selection.active h4 {
  color: #b06d74;
}

.selection.active .radioCircle {
  border-color: #b06d74;
}

.select {
  margin-bottom: 1rem;
}

.select label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select label:hover {
  cursor: pointer;
}

.select label:hover h4 {
  color: #b06d74;
}

.select label:hover .radioCircle {
  border-color: #b06d74;
}

.select h4,
.select h5 {
  margin: 0;
  padding: 0.25rem 0;
  line-height: 1.5;
}

.radioCircle {
  position: relative;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
  margin-right: 1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

.radioCircle::after {
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #b06d74;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.selection.active .radioCircle::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.selection .stock {
  margin: 1rem 0 0;
}

.desktopStock {
  display: none;
}

.selection h6 {
  font-size: 1.25rem;
  margin-right: 0.5rem;
}

.pledge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #e6e6e6;
  margin-top: 1.75rem;
  overflow-y: hidden;
  opacity: 0;
  -webkit-transition-property: max-height, opacity;
  transition-property: max-height, opacity;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.selection.active .pledge {
  opacity: 1;
}

.pledge p {
  margin-top: 1.25rem;
}

.amount {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

.amount div {
  width: 60%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.amount div::before {
  position: absolute;
  top: 20px;
  left: 1.25rem;
  font: 500 1rem/1 "Commissioner", sans-serif;
  color: gray;
}

.amount input {
  font: 500 1rem/1 "Commissioner", sans-serif;
  color: black;
  width: 100%;
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  outline: none;
  border-radius: 2rem;
  border: 1px solid #e6e6e6;
  height: 56px;
  -webkit-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

.amount input:focus {
  border-color: black;
}

.amount input::-webkit-input-placeholder {
  color: gray;
}

.amount input:-ms-input-placeholder {
  color: gray;
}

.amount input::-ms-input-placeholder {
  color: gray;
}

.amount input::placeholder {
  color: gray;
}

.amount button {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-bottom: 1rem;
}

.amount.error input {
  border-color: #ff525d;
}

.amount::after {
  display: block;
  position: absolute;
  top: 4rem;
  left: 0;
  content: "Ingrese una reserva válida";
  color: #ff525d;
  font-size: 0.75rem;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.amount.error::after {
  opacity: 1;
}

#confirmation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  z-index: 3;
}

#confirmation.active {
  opacity: 1;
  pointer-events: all;
}

#confirmation section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 1.5rem;
  -webkit-box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  border-radius: 1rem;
  background: white;
}

#confirmation.active section {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#confirmation img {
  margin-bottom: 1.5rem;
}

#confirmation h3 {
  text-align: center;
  line-height: 1.25;
  margin-bottom: 1rem;
}

#confirmation p {
  text-align: center;
  margin-bottom: 1.5rem;
}

#confirmation button {
  padding: 1.25rem 2rem;
}

@media (min-width: 768px) {
  .navToggle {
    display: none;
  }
  #desktopNav {
    display: block;
  }
  #stats {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2rem;
  }
  .stat:nth-of-type(2) {
    border: none;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    padding: 0 2.5rem;
    margin: 0 2.5rem;
  }
  #stats h2,
  #stats p {
    text-align: left;
  }
  .optionTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .stockRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about .stock {
    margin: 0;
  }
  #modal {
    left: calc(50% - 350px);
  }
  .mobileStock {
    display: none;
  }
  .selection .desktopStock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
  }
  .select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .select .details {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .select h4 {
    margin-right: 1.5rem;
  }
  .pledge {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .pledge p {
    margin-top: 2.75rem;
  }
  .amount {
    margin: 2rem 0;
  }
  .amount div,
  .amount button {
    margin-bottom: 0;
  }
  #confirmation section {
    width: 480px;
  }
}

/* FIN HEADER */
/*# sourceMappingURL=estilos.css.map */