#activos {
  padding-top: 180px;
  padding-bottom: 40px;
}
h1 {
  font-weight: 300;
  text-align: center;
}
h2 {
  font-weight: 200;
  text-align: center;
}

#invers img {
  width: fit-content;
  height: 200px;
  filter: grayscale(100);
  opacity: 80%;
  object-fit: cover;
}
#invers img:hover {
  filter: none;
  opacity: 80%;
}

#invers h5 {
  text-align: right;
  font-size: 0.6rem;
  color: black;
  font-weight: 400;
  margin-bottom: 0.1rem;
}
#invers h4 {
  text-align: right;
  font-size: 0.8rem;
  color: black;
  font-weight: 300;
  margin-bottom: 0.1rem;
}
#invers h3 {
  text-align: right;
  font-size: 1rem;
  font-weight: 600;
  color: black;
  line-height: 1rem;
}
#invers p {
  text-align: justify;
  text-align-last: center;
}

@media (max-width: 768px) {
  #activos {
    padding-top: 80px;
    padding-bottom: 0px;
  }
  #offcanvasRight {
    width: 70%;
  }
}
