#nosotros {
  padding-top: 200px;
  padding-bottom: 50px;
}

.texto {
  background: var(--blanco);
  padding: 0.5rem;
}

.h1 {
  padding-top: 1rem;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  background: none;
  animation: fadeIn;
  animation-duration: 2s;
}

.h1:hover {
  color: var(--rojo);
}

.texto p {
  padding-top: 0.5rem;
  font-weight: 300;
  text-align: justify;
}

.texto_base {
  font-family: "Source Sans Pro", sans-serif;
  padding-top: 0.5rem;
  font-weight: 300;
  text-align: justify;
  text-align-last: center;
}

.texto_titulo {
  font-weight: 300;
  cursor: pointer;
  text-align: center;
}
.texto_titulo:hover {
  color: var(--rojo);
}

.img {
  justify-content: center;
  background-image: url(../img/Alejandro\ Arcardini\ Arquitecto.jpg);
  background-size: cover;
  background-position: center;
  height: 180px;
}

.foto {
  padding: 10px;
  background: linear-gradient(to left, #ff9a9e, #fad0c4);
  max-width: 400px;
  max-height: 400px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link a {
  font-size: 1rem;
  text-decoration: none;
  animation-duration: 3s;
  animation-name: color;
  animation-iteration-count: infinite;
}

.link a:hover {
  text-decoration: line-through;
}

@keyframes color {
  0% {
    color: #ff9a9e;
  }
  50% {
    color: #fad0c4;
  }
  100% {
    color: #ff9a9e;
  }
}

@media (max-width: 768px) {
  #nosotros {
    padding-top: 80px;
    padding-bottom: 0px;
  }
  #offcanvasRight {
    width: 70%;
  }
}
