// COLORES
$rojo: #b06d74;
$rojoopacid: #e3afb4;
$negro: #1e1f20;
$beige: #f2efe9;
$gris: #f1f1f1;
$verde: #6d9f71;
$amarillo: #eaba6b;
$celeste: #437f97;
$blanco: white;
// ESPACIADO MENUS
$SpMenu: 11rem;
$SpFooter: 3rem;
$Sp: 1rem;
$hImg: 200px;
